body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  @media (max-width: 768px) {
    form {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    form {
      padding: 1rem;
    }
  }